@import 'variables';
@import 'utility';

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: 1px solid $accentColor;
  }
}

// general styles

html {
  font-size: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: $whiteColor;
  background: url('../images/bg-intro-mobile.png'), $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

p {
  font-weight: 400;
}

a {
  color: $primaryColor;
  text-decoration: none;
  cursor: pointer;
}

// class and id styles

main.container {
  max-width: $websiteWidth;
  overflow: hidden;
  padding: 3.5rem 1.5rem;
}

section#signup-a {
  margin-bottom: 2rem;
  h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  p {
    margin: 1rem;
  }
}

section#signup-b {
  .offer {
    background-color: $accentColor;
    border-radius: $borderRadius;
    padding: 1.2rem 3.5rem;
  }
}

#signup-form {
  background-color: $whiteColor;
  border-radius: $borderRadius;
  margin-top: 2rem;
  padding: 1.5rem;

  input,
  button {
    width: 100%;
    margin: 0.7rem 0;
    border-radius: 5px;
  }

  input {
    border: 1px solid $neutralColor2;
    padding: 1rem;
    &::placeholder {
      font-weight: 600;
    }
    // remove top margin on first input
    &:first-of-type {
      margin: 0 0 0.7rem 0;
    }
  }

  button {
    background-color: $secondaryColor;
    color: $whiteColor;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 1.2rem;
    letter-spacing: 0.1rem;

    &:hover {
      opacity: 0.8;
    }
  }

  .disclaimer {
    color: $neutralColor2;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0 1.2rem;

    a {
      font-weight: 600;
    }
  }
}

// styles for landscape tablets and desktop
@media screen and (min-width: 768px) and (orientation: landscape) {
  main.container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    padding: 0 0;
    margin: 1rem;
  }

  section#signup-a {
    text-align: left;
    align-self: center;

    h1 {
      font-size: 3rem;
      margin-top: 0;
    }
    p {
      margin: 0;
    }
  }
  section#signup-b {
    padding: 0.5rem 0;
  }
  #signup-form {
    padding: 2rem;
  }
}
