@import 'variables';
@import 'utility';

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// general styles

html {
  font-size: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: $whiteColor;
  background: url('../images/bg-intro-mobile.png'), $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

p {
  font-weight: 400;
}

a {
  color: $primaryColor;
  text-decoration: none;
  cursor: pointer;
}

// class and id styles

main.container {
  max-width: $websiteWidth;
  overflow: hidden;
}

section#signup-a {
  h1 {
    font-size: 2rem;
  }
}

section#signup-b {
  .offer {
    background-color: $accentColor;
    border-radius: $borderRadius;
  }
}

#signup-form {
  background-color: $whiteColor;
  border-radius: $borderRadius;

  input,
  button {
    width: 100%;
    padding: 1rem;
    margin: 0.7rem 0;
    border-radius: 5px;
  }

  input {
    border: 1px solid $neutralColor2;
  }

  button {
    background-color: $secondaryColor;
    color: $whiteColor;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .disclaimer {
    color: $neutralColor2;
  }
}
